{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="/stylesheets/account.css">
{% endblock %}

{% block main %}
<h1>Welcome, {{ username }}</h1>
<p>Your API key:</p>
<input type="text" name="key" id="key" value={{ key }} readonly>

<div id="links-container">
    {% if links.length !== 0 %}
    <h2>Your links</h2>
    {% for link in links %}
    <div class="card">
        <header>
            <p>Link {{ loop.index }}</p>
        </header>
        <p>Shortened link: <a href={{ host }}{{ link.urlId }}>{{ host }}{{ link.urlId }}</a></p>
        <p>Original url: <a href={{ link.destinationUrl }}>{{ link.destinationUrl }}</a></p>
        <p>Clicks: {{ link.clicksCount }}</p>
        <button class="dangerous">Delete</button>
    </div>

    {% endfor %}
    {% else %}
    <h2>You don't have any links yet</h2>
    {% endif %}
</div>
{% endblock %}