<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>App</title>
</head>

<body>
    <nav class="demo">
        <a href="/" class="brand">
            <span>App</span>
        </a>

        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">menu</label>

        <div class="menu">
            {% block nav %}
            <a href="/auth/login" class="pseudo button icon-picture">Login</a>
            <a href="/auth/register" class="pseudo button icon-picture">Register</a>
            {% endblock %}
            <a href="https://github.com/mrbasel/url-shortener" class="button icon-puzzle">Github</a>
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>

</html>