{% extends "layout.html" %}

{% block main %}
<h1>Login</h1>
{% if error[0] %}
<h3 class="error">{{ error }}</h3>
{% endif %}
<form action="/auth/login" method="POST">
    <fieldset class="flex one">
        <label><input type="text" name="username" placeholder="Username" required></label>
        <label><input type="password" name="password" placeholder="Password" required></label>
    </fieldset>
    <input type="submit" value="Submit">
    <p>Don't have an account? Create one <a href="/auth/register">here.</a></p>
</form>
{% endblock %}