main {
  margin-top: 2em;
}

nav {
  position: absolute;
}

* {
  text-align: center;
}

input {
  margin: 0 auto;
  margin-top: 1.5em;
}

input {
  width: 40%;
}

footer {
  margin-top: 4em;
}

@media screen and (max-width: 900px) {
  #url {
    width: 80%;
  }
}
